In [49]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [50]:
data = pd.read_excel('Wine.xlsx', header=None)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,1.42e+01,1.71e+00,2.43e+00,1.56e+01,1.27e+02,2.80e+00,3.06e+00,2.80e-01,2.29e+00,5.64e+00,1.04e+00,3.92e+00,1065
1,1,1.32e+01,1.78e+00,2.14e+00,1.12e+01,1.00e+02,2.65e+00,2.76e+00,2.60e-01,1.28e+00,4.38e+00,1.05e+00,3.40e+00,1050
2,1,1.32e+01,2.36e+00,2.67e+00,1.86e+01,1.01e+02,2.80e+00,3.24e+00,3.00e-01,2.81e+00,5.68e+00,1.03e+00,3.17e+00,1185
3,1,1.44e+01,1.95e+00,2.50e+00,1.68e+01,1.13e+02,3.85e+00,3.49e+00,2.40e-01,2.18e+00,7.80e+00,8.60e-01,3.45e+00,1480
4,1,1.32e+01,2.59e+00,2.87e+00,21,1.18e+02,2.80e+00,2.69e+00,3.90e-01,1.82e+00,4.32e+00,1.04e+00,2.93e+00,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,1.37e+01,5.65e+00,2.45e+00,2.05e+01,9.50e+01,1.68e+00,6.10e-01,5.20e-01,1.06e+00,7.70e+00,6.40e-01,1.74e+00,740
174,3,1.34e+01,3.91e+00,NaN,23,1.02e+02,1.80e+00,"0,75",4.30e-01,1.41e+00,7.30e+00,7.00e-01,1.56e+00,750
175,3,1.33e+01,4.28e+00,2.26e+00,20,1.20e+02,1.59e+00,6.90e-01,4.30e-01,1.35e+00,1.02e+01,5.90e-01,1.56e+00,835
176,3,1.32e+01,2.59e+00,2.37e+00,20,1.20e+02,1.65e+00,6.80e-01,5.30e-01,1.46e+00,9.30e+00,6.00e-01,1.62e+00,840
177,3,1.41e+01,4.10e+00,2.74e+00,2.45e+01,9.60e+01,2.05e+00,7.60e-01,5.60e-01,1.35e+00,9.20e+00,6.10e-01,1.60e+00,560

In [51]:
data.dtypes
data = data.apply(pd.to_numeric, errors='coerce')

In [52]:
# Get missing values
data.isna().sum()
data = data.dropna()

In [53]:
pd.set_option('display.float_format', '{:.2e}'.format)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,1.42e+01,1.71e+00,2.43e+00,1.56e+01,1.27e+02,2.80e+00,3.06e+00,2.80e-01,2.29e+00,5.64e+00,1.04e+00,3.92e+00,1065
1,1,1.32e+01,1.78e+00,2.14e+00,1.12e+01,1.00e+02,2.65e+00,2.76e+00,2.60e-01,1.28e+00,4.38e+00,1.05e+00,3.40e+00,1050
2,1,1.32e+01,2.36e+00,2.67e+00,1.86e+01,1.01e+02,2.80e+00,3.24e+00,3.00e-01,2.81e+00,5.68e+00,1.03e+00,3.17e+00,1185
3,1,1.44e+01,1.95e+00,2.50e+00,1.68e+01,1.13e+02,3.85e+00,3.49e+00,2.40e-01,2.18e+00,7.80e+00,8.60e-01,3.45e+00,1480
4,1,1.32e+01,2.59e+00,2.87e+00,2.10e+01,1.18e+02,2.80e+00,2.69e+00,3.90e-01,1.82e+00,4.32e+00,1.04e+00,2.93e+00,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,1.42e+01,2.51e+00,2.48e+00,2.00e+01,9.10e+01,1.68e+00,7.00e-01,4.40e-01,1.24e+00,9.70e+00,6.20e-01,1.71e+00,660
173,3,1.37e+01,5.65e+00,2.45e+00,2.05e+01,9.50e+01,1.68e+00,6.10e-01,5.20e-01,1.06e+00,7.70e+00,6.40e-01,1.74e+00,740
175,3,1.33e+01,4.28e+00,2.26e+00,2.00e+01,1.20e+02,1.59e+00,6.90e-01,4.30e-01,1.35e+00,1.02e+01,5.90e-01,1.56e+00,835
176,3,1.32e+01,2.59e+00,2.37e+00,2.00e+01,1.20e+02,1.65e+00,6.80e-01,5.30e-01,1.46e+00,9.30e+00,6.00e-01,1.62e+00,840
177,3,1.41e+01,4.10e+00,2.74e+00,2.45e+01,9.60e+01,2.05e+00,7.60e-01,5.60e-01,1.35e+00,9.20e+00,6.10e-01,1.60e+00,560