In [43]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [44]:
data = pd.read_excel('Wine.xlsx')
data

,1.00,14.23,1.71,2.43,15.60,127.00,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.00
0,1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.4,1050
1,1,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.3,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,NaN,23,102.0,1.80,"0,75",0.43,1.41,7.30,0.7,1.56,750
174,3,13.27,4.28,2.26,20,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20,120.0,1.65,0.68,0.53,1.46,9.30,0.6,1.62,840
176,3,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.6,560

In [45]:
data.dtypes
data = data.apply(pd.to_numeric, errors='coerce')

In [46]:
# Get missing values
data.isna().sum()
data = data.dropna()

In [48]:
pd.set_option('display.float_format', '{:.2e}'.format)
data

,1.00e+00,1.42e+01,1.71e+00,2.43e+00,1.56e+01,1.27e+02,2.80e+00,3.06e+00,2.80e-01,2.29e+00,5.64e+00,1.04e+00,3.92e+00,1.06e+03
0,1,1.32e+01,1.78e+00,2.14e+00,1.12e+01,1.00e+02,2.65e+00,2.76e+00,2.60e-01,1.28e+00,4.38e+00,1.05e+00,3.40e+00,1050
1,1,1.32e+01,2.36e+00,2.67e+00,1.86e+01,1.01e+02,2.80e+00,3.24e+00,3.00e-01,2.81e+00,5.68e+00,1.03e+00,3.17e+00,1185
2,1,1.44e+01,1.95e+00,2.50e+00,1.68e+01,1.13e+02,3.85e+00,3.49e+00,2.40e-01,2.18e+00,7.80e+00,8.60e-01,3.45e+00,1480
3,1,1.32e+01,2.59e+00,2.87e+00,2.10e+01,1.18e+02,2.80e+00,2.69e+00,3.90e-01,1.82e+00,4.32e+00,1.04e+00,2.93e+00,735
4,1,1.42e+01,1.76e+00,2.45e+00,1.52e+01,1.12e+02,3.27e+00,3.39e+00,3.40e-01,1.97e+00,6.75e+00,1.05e+00,2.85e+00,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,3,1.42e+01,2.51e+00,2.48e+00,2.00e+01,9.10e+01,1.68e+00,7.00e-01,4.40e-01,1.24e+00,9.70e+00,6.20e-01,1.71e+00,660
172,3,1.37e+01,5.65e+00,2.45e+00,2.05e+01,9.50e+01,1.68e+00,6.10e-01,5.20e-01,1.06e+00,7.70e+00,6.40e-01,1.74e+00,740
174,3,1.33e+01,4.28e+00,2.26e+00,2.00e+01,1.20e+02,1.59e+00,6.90e-01,4.30e-01,1.35e+00,1.02e+01,5.90e-01,1.56e+00,835
175,3,1.32e+01,2.59e+00,2.37e+00,2.00e+01,1.20e+02,1.65e+00,6.80e-01,5.30e-01,1.46e+00,9.30e+00,6.00e-01,1.62e+00,840
176,3,1.41e+01,4.10e+00,2.74e+00,2.45e+01,9.60e+01,2.05e+00,7.60e-01,5.60e-01,1.35e+00,9.20e+00,6.10e-01,1.60e+00,560