In [22]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [23]:
# Read the excel data without headers
data = pd.read_excel('Wine.xlsx', header=None)

In [24]:
# Convert all data types to numeric and change value to NaN of not possible
data = data.apply(pd.to_numeric, errors='coerce')

In [25]:
# Get missing values and drop them
data.isna().sum()
data = data.dropna()

In [26]:
# Change the display precision for scientific notation 
# pd.set_option('display.float_format', '{:.2e}'.format)
data.iloc[:, -1] /=1000
data

C:\Users\bradn\AppData\Local\Temp\ipykernel_15096\4037282163.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     1.06e+00
1     1.05e+00
2     1.19e+00
3     1.48e+00
4     7.35e-01
        ...
172   6.60e-01
173   7.40e-01
175   8.35e-01
176   8.40e-01
177   5.60e-01
Name: 13, Length: 168, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.iloc[:, -1] /=1000

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,1.42e+01,1.71e+00,2.43e+00,1.56e+01,1.27e+02,2.80e+00,3.06e+00,2.80e-01,2.29e+00,5.64e+00,1.04e+00,3.92e+00,1.06e+00
1,1,1.32e+01,1.78e+00,2.14e+00,1.12e+01,1.00e+02,2.65e+00,2.76e+00,2.60e-01,1.28e+00,4.38e+00,1.05e+00,3.40e+00,1.05e+00
2,1,1.32e+01,2.36e+00,2.67e+00,1.86e+01,1.01e+02,2.80e+00,3.24e+00,3.00e-01,2.81e+00,5.68e+00,1.03e+00,3.17e+00,1.19e+00
3,1,1.44e+01,1.95e+00,2.50e+00,1.68e+01,1.13e+02,3.85e+00,3.49e+00,2.40e-01,2.18e+00,7.80e+00,8.60e-01,3.45e+00,1.48e+00
4,1,1.32e+01,2.59e+00,2.87e+00,2.10e+01,1.18e+02,2.80e+00,2.69e+00,3.90e-01,1.82e+00,4.32e+00,1.04e+00,2.93e+00,7.35e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,1.42e+01,2.51e+00,2.48e+00,2.00e+01,9.10e+01,1.68e+00,7.00e-01,4.40e-01,1.24e+00,9.70e+00,6.20e-01,1.71e+00,6.60e-01
173,3,1.37e+01,5.65e+00,2.45e+00,2.05e+01,9.50e+01,1.68e+00,6.10e-01,5.20e-01,1.06e+00,7.70e+00,6.40e-01,1.74e+00,7.40e-01
175,3,1.33e+01,4.28e+00,2.26e+00,2.00e+01,1.20e+02,1.59e+00,6.90e-01,4.30e-01,1.35e+00,1.02e+01,5.90e-01,1.56e+00,8.35e-01
176,3,1.32e+01,2.59e+00,2.37e+00,2.00e+01,1.20e+02,1.65e+00,6.80e-01,5.30e-01,1.46e+00,9.30e+00,6.00e-01,1.62e+00,8.40e-01
177,3,1.41e+01,4.10e+00,2.74e+00,2.45e+01,9.60e+01,2.05e+00,7.60e-01,5.60e-01,1.35e+00,9.20e+00,6.10e-01,1.60e+00,5.60e-01

In [27]:
data.to_csv('clean_output.csv', index=False)